* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  max-width: 140rem;
  font-family: sans-serif;
  font-weight: 400;
  background-color: hsl(0, 0%, 95%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.cols-container {
  max-width: 72rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 0.9rem;
}

.padding-md {
  padding: 3.6rem;
}

.col-1,
.col-2,
.col-3 {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.col-1:nth-child(1) {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
}

.col-2 {
  background-color: hsl(184, 100%, 22%);
}

.col-3:nth-child(3) {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
}

.icon {
  height: 3.6rem;
  width: 4.8rem;
}

.primary-heading {
  font-family: "Big Shoulders Display";
  font-size: 3.4rem;
  text-transform: uppercase;
  font-weight: 400;
  color: hsl(0, 0%, 95%);
}

.col-text {
  font-family: "Lexend Deca";
  font-size: 1.2rem;
  color: hsla(0, 0%, 100%, 0.63);
  line-height: 1.6;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  background-color: hsl(0, 0%, 95%);
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
  margin-top: 4rem;
  transition: all 0.2s;
}

.btn:hover,
.btn:active {
  cursor: pointer;
  color: hsla(0, 0%, 100%, 0.63);
  box-shadow: inset 0 0 0 0.2rem hsl(0, 0%, 95%);
}

.btn-1 {
  color: hsla(31, 77%, 52%, 0.8);
}

.btn-1:hover {
  background-color: hsla(31, 77%, 52%);
}

.btn-2 {
  color: hsla(184, 100%, 22%, 0.8);
}

.btn-2:hover {
  background-color: hsl(184, 100%, 22%);
}

.btn-3 {
  color: hsla(179, 100%, 13%, 0.8);
}

.btn-3:hover {
  background-color: hsl(179, 100%, 13%);
}
